.RoundComponent-footer {  
  color: black;
  font-size: 8px
}

.RoundComponent h3 {
  background-color: #252;    
  color: white;
}

.RoundComponent-result-table table {  
  border: 1px solid rgb(23, 206, 23);
  background-color: #D4EED1;
  width: 100%;
  text-align: center;  
}
.RoundComponent-result-table table tbody td, .RoundComponent-result-table table thead th {
  border: 1px solid rgb(23, 206, 23);
  padding: 3px 2px;
}
.RoundComponent-result-table table tbody td {
  font-size: 13px;
}
.RoundComponent-result-table table thead {
  background: #252;  
  border-bottom: 0px solid #444444;
}
.RoundComponent-result-table table thead th {
  font-size: 19px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: center;
  border-left: 2px solid #24943A;
}

.RoundComponent-button {
	background-color:#252;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #252;
	display:inline-block;
	cursor:pointer;
	color:white;	
	padding:16px 31px;
	
}
.RoundComponent-button:hover {
	background-color:#93dd6f;
}
